.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This centers vertically within the viewport */
  }
  body {
    background-image: url('../assets/bg.png'); /* Replace with your image path */
    background-size: 100% auto; /* Cover width, maintain original height */
    background-position: center;
    background-repeat: no-repeat;
    color: black; /* Add text color for readability */
  }